{% extends 'base.html' %}
{% load filter %}
{% block home %}
    '/menu/{{table}}'
{% endblock home %}
{% block orderurl %}
    '/or/{{table}}'
{% endblock orderurl %}
{% block page %}
  <h1>Orders for Table {{ table }}</h1>
  <ul>
    {% for order in orders %}
      <li>Order: {{ order.order_number }}
        </li>
        <li>Created at: {{ order.created_at }}</li>
      <ul>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dish</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          {% for order_item in order.orderitem_set.all %}
          <tbody>
            <tr>
              <td>{{ order_item.item.item_name }}</td>
              <td>{{ order_item.quantity }}</td>
              <td>{{ order_item.quantity|calc_total:order_item.item.item_price }}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
          {% comment %} <li>{{ order_item.item.item_name }} - Quantity: {{ order_item.quantity }}  Price : {{order_item.item.item_price}}</li> {% endcomment %}
      </ul>
    {% endfor %}
    <table class="table-success">
      <tr>
        <th scope="col">Total :</th>
        <th scope="col">INR {{total}}</th>
      </tr>
    </table>
  </ul> 
  <div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>

{% endblock %}