{% extends 'base.html' %} 
{% load filter %}
{% block page %}

<h1 class="text-center">Order Total</h1>
<div class="row">
    {% for order in data %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <ul>
                <li><h1>Table Number: {{ order.table_number }}</h1></li>
                <li>Order Number: {{ order.order_number }}</li>
                <li>Created at: {{ order.created_at }}</li>
                <li>Items:</li>
                <ul>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Dish</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        {% for order_item in order.orderitem_set.all %}
                            <tbody>
                                <tr>
                                <td>{{ order_item.item.item_name }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.quantity|calc_total:order_item.item.item_price }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                        {% comment %} <li>{{ order_item.item.item_name }} - Quantity: {{ order_item.quantity }}  Price : {{order_item.item.item_price}}</li> {% endcomment %}
                </ul>
                <table class="table-success">
                    <tr>
                      <th scope="col">Total :</th>
                      <th scope="col">INR {{total}}</th>
                    </tr>
                </table>
            </ul>
          </h5><br>
          
          <a href="/pdone/{{order.table_number}}" class="btn btn-primary form-control">Done</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


